@import "tailwindcss";

@font-face {
  font-family: "Druk";
  src: url("/fonts/675222a61256656a29fff2dc_DrukText-Heavy-Web.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/CabinetGrotesk-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Garet";
  src: url("/fonts/Garet-Book.woff2") format("woff2");
}

.druk {
  font-family: "Druk";
}

.cabinet {
  font-family: "Cabinet Grotesk";
}

.garet {
  font-family: "Garet";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a1128;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  display: inline;

  background-image: linear-gradient(to top, #363a3f, #ffffff 60%);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.golden-tag {
  font-family: druk;
  color: #c9a86a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* ⬅️ ১ম রো: কোনো বিরতি ছাড়া একটানা বামে ঘুরবে */
@keyframes scroll-left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* ➡️ ২য় রো: কোনো বিরতি ছাড়া একটানা ডানে ঘুরবে */
@keyframes scroll-right {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
